
<partial name="_Logo"/>

<!-- Projects-->
<section class="projects-section" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="~/assets/view.png" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>LD Beauty Salon Plovdiv</h4>
                    <p class="text-black-50 mb-0">Step into our salon and experience the most contemporary hair cutting, coloring, and designing techniques in demand today. 
                        Our talented team of devoted stylists has dedicated their time by continuing their education to ensure you have the latest up to date style. 
                        Come in and enjoy the most modern salon. Consultations are always complimentary.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact-->
<section class="contact-section">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 mb-4">
            <div class="col-md-4 mb-5 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">Svoboda 1A blvd, Plovdiv</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">ldbeautyplovdiv@gmail.com</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">+359 89 883 0101</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="social d-flex justify-content-center mb-4">
            <a class="mx-2" href="https://www.facebook.com/LD-beauty-salon-Plovdiv-106001258281039"><i class="fab fa-facebook fa-2x"></i></a>
            <a class="mx-2" href="https://www.instagram.com/ld_beauty_salon_plovdiv/"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
    </div>
</section>
