<header>
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5  rounded-3 text-center">
            <div class="m-4 m-lg-2">
                <div>
                    <img class="img-fluid" src="~/assets/logo.png" alt="logo">
                </div>
            </div>
        </div>
    </div>
</header>