@using LDBeauty.Core.Models.Gallery
@model ImageDetailsViewModel

@if (@Model == null)
{
    <h2 class="text-danger text-center">Image not found, please try again later.</h2>
}
else
{
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@Model.ImgUrl" alt="..." /></div>
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder">@Model.CategoryName</h1>
                    <p class="lead">@Model.Description</p>
                    @if (User.IsInRole("Client"))
                    {
                        <div class="d-flex">
                            <a asp-controller="gallery" asp-action="addImageToFavourites" asp-route-id="@Model.Id" class="btn btn-outline-dark flex-shrink-0"><i class="fas fa-heart"></i> Add to Favourites</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}